Box{

}
.container-account{
    background: red;
    width: 100%;
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
}
.image-secton{
    /* height: 100%;
    width: 100%; */
    background-color: green;
}

.user-details{
display: flex;
justify-content: space-between;
}